button input{
  border:none;
  outline:none;
  cursor:pointer;
}
input :focus{
  border:none;
  outline:none;
}

/* For Date Tiles*/
.tile-container{
  width: 14%;
  height:20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  border-right: .2px solid;
  border-bottom: .2px solid;
}

.tile-header{
  position: relative;
  width: 100%;
  height:40%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  top:0;
}

.tile-title{
  width: 40%;
  height: 100%;
  padding: 0 1%;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.tile-body{
  width: 90%;
  height:60%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  position: relative;
}

.stock-lists{
  width: 100%;
  height:100%;
  overflow-y: auto;
}









/* Active Part */
.input-controll{
  width: 90%;
  height: 30%;
  color: black;
  background: #fff;
  border-radius: 15px 0 0 15px;
  border: 1px solid #4177F6;
  padding:2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.add-missing-price-input{
  margin: 0;
  outline: 0;
  border: none;
  width: 90%;
  height: 100%;
}



.delete-button{
  float: left;
  right: 0;
  position: absolute;
  padding: 0 2%;
  cursor:pointer;
}
.add-button{
  right: 10px;
  bottom: 10px;
  position: absolute;
  margin: 0;
  outline: 0;
  width: 15px;
  height: 15px;
  font-size: 14px !important;
  cursor:pointer;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  border-radius: 50%;
  padding: 1%;
  border: .5px solid #4177F6;
  color: #4177F6;
}