.stock-item{
  width: 90%;
  height:30%;
  font-size: 16px;
  color:#fff;
  padding:1%;
  position: relative;
  
  border-radius: 15px 0 0 15px;
  background: #00bfa5;

  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.stock-logo{
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding:1.5%;
}
.default-logo-circle{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  z-index: 999;
}
.stock-price{
  font-size: 12px;
  padding: .5%;
}
.mini-icon{
  font-size: 12px;
}
.delete-button{
  float: left;
  right: 0;
  position: absolute;
  padding: 0 2%;
  cursor:pointer;
}