.input-controll{
  width: 90%;
  height: 30%;
  color: black;
  background: #fff;
  border-radius: 15px 0 0 15px;
  border: 1px solid #4177F6;
  padding:2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.add-missing-price-input{
  margin: 0;
  outline: 0;
  border: none;
  width: 90%;
  height: 100%;
}

.add-missing-value-button{
  margin: 0;
  outline: 0;
  width: 15px;
  height: 15px;
  font-size: 14px !important;
  cursor:pointer;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  border-radius: 50%;
  padding: 1%;
  border: .5px solid #4177F6;
  color: #4177F6;
}

.mini-icon{
  font-size: 12px;
}